.basket-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.2em;
  cursor: pointer;
}
.basket-item:nth-child(odd) {
  background: #f9f9f9;
}
.basket-item:nth-child(even) {
  background: #efefef;
}

.basket-item:hover {
  transform: translateY(-5px);
  text-shadow: 0px 10px 10px rgba(243, 243, 243, 0.4);
  color: rgb(119, 5, 5);
}
